@{
    Layout = "~/Views/Shared/_Admin.cshtml";    
    ViewBag.Title = "Admin Panel";
}


<!DOCTYPE html>
<html>
<body>
    <div style="margin:70px;padding:60px;">
        <div class="container-fluid">
            <div class="row">
                <table>
                    <tr>
                        <td>
                            <div class="col-lg-4" style="padding-left:150px">
                                <a href="/Admin/EditFares"><img src="~/Images/updatefare.jpg" style="box-shadow: 10px 10px 5px #888888;" />
                                    <center><h1 style="font-size:20px">Edit Fares</h1></center> </a>
                            </div>
                        </td>
                        <td>
                            <div class="col-lg-4" style="padding-left:150px">
                                <a href="/Admin/EditFares"><img src="~/Images/updateroute.jpg" style="box-shadow: 10px 10px 5px #888888;" />
                                    <center><h1 style="font-size:20px">Edit Schedules</h1></center>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
                
                
                
                
            </div>
        </div>
    </div>
</body>
