@{Session["url"] = Request.UrlReferrer;}

<!DOCTYPE html>

<html>
<head>
    <style>
        .clickable {
            cursor: pointer;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        $(document).ready(function ()
        {
            $("#new_password").blur(function()
            {
                var newpassword = $("#new_password").val();
                if(newpassword.length >= 8)
                    $("#error1").hide();
                else
                    $("#error1").show();
            })
            $("#confirm_password").blur(function () {
                var newpassword = $("#new_password").val();
                var confirmpass = $("#confirm_password").val();
                if (newpassword == confirmpass)
                    $("#error2").hide();
                else
                    $("#error2").show();
            })
            $("#cancel").click(function ()
            {
                window.location.href = "/Home/Index";
            })
        })
    </script>
</head>

<body>
    <!-- Main -->
    <div id="main" class="wrapper style1">
        <div class="container">
            <div class="row 150%">
                <div class="4u 12u$(medium)">

                    <!-- Sidebar -->
                    <section id="sidebar">
                        <section style="padding-top: 50px;margin-left:50px;">
                            <img src="~/Images/lockicon.png" />
                        </section>
                    </section>

                </div>
                <div class="8u 12u$(medium) important(medium)">

                    <!-- Content -->
                    <section id="content">
                        <section style="margin:50px">
                            <div style="width:300px;">
                                <form action="/Home/ChangePassword/1" method="post">
                                    @if (ViewBag.error == true)
                                    {
                                        <div style="color: #e44c65">Old Password is Wrong!</div>
                                    }
                                    <br />
                                    <input type="password" placeholder="Current Password" id="curr_password" name="curr_password" required="required" />
                                    <div id="error" style="color: #e44c65" hidden="hidden">Wrong Password</div>
                                    <br />
                                    <input type="password" placeholder="New Password (Max Length: 8)" id="new_password" name="new_password" required="required" />
                                    <div id="error1" style="color: #e44c65" hidden="hidden">Too Small Password</div><br />
                                    <input type="password" placeholder="Confirm New Password" id="confirm_password" name="confirm_password" required="required" />
                                    <div id="error2" style="color: #e44c65" hidden="hidden">Doesn't Match with the Above Password</div>
                                    <br />
                                    <input type="submit" value="Save" id="save" class="button special" style="margin-right:20px;margin-left:20px"/>
                                    <input type="button" value="Cancel" id="cancel" class="button special" />
                                </form>
                            </div>
                        </section>
                    </section>

                </div>
            </div>
        </div>
    </div>



</body>
</html>