@{Session["url"] = Request.UrlReferrer;}
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="~/Content/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        
	</head>
	
    <body style="color: black">
        
            <!-- Banner -->
            <section id="banner" style="text-align: left; background-image: url(../../Images/background.jpg); ">

                <div class="content">
                    <header style="padding:10px;">
                        <h2>The future has landed</h2>
                        <p>
                            Experience the excellence<br />
                            and precision of driving!
                        </p>
                        <span style="width:2000px"></span>
                    </header>
                </div>
            </section>

            </div>



</body>
</html>