
@{
    ViewBag.Title = "Forgot Password";
}
<!DOCTYPE html>
<html>

<body>
   
    <div style="margin:50px;padding:20px;">
        <div class="center">
            
            <form style="padding: 60px;background-image: url(../../Images/lock.png );"
                  action="/Forms/SendPassword" method="post">
                @{
                    if(ViewBag.InvalidEmail != null)
                    {
                        @ViewBag.InvalidEmail
                    }
                }
                <input id="emailId" type="email" name="email" placeholder="Email Address" required="required" /> <br />
                <center><input type="submit" class="button special" value="Send Password" /></center>

            </form>

        </div>
    </div>
</body>




</html>





